body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#guis {
  margin: 2em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
}

.box {
  height: max-content;
  min-width: 15vw;
  padding: 1em;
  margin: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 5px #777;
}

.box-heading {
  font-size: 2em;
  font-variant: small-caps;
  text-align: center;
}

button {
  border-radius: 5px;
  font-size: 1.25em;
  padding: 0.5em;
}

#count {
  font-size: 2em;
}

.temp {
  text-align: right;
  width: 5em;
}

#flight-booker {
  display: flex;
  flex-direction: column;
}

#flight-booker input {
  margin-bottom: 5px;
}
