body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#guis {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 90vw;
}

h1 {
  text-align: center;
}

.box {
  height: max-content;
  min-width: 50vw;
  padding: 1em;
  margin: 2em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 5px #777;
}

.box-heading {
  font-size: 2em;
  font-variant: small-caps;
  text-align: center;
}

button {
  border-radius: 5px;
  font-size: 1.25em;
  padding: 0.5em;
}

#count {
  font-size: 2em;
}

.temp {
  text-align: right;
  width: 5em;
}

#flight-booker {
  display: flex;
  flex-direction: column;
}

#flight-booker input {
  margin-bottom: 5px;
}

.error-field {
  border: solid 1px red;
  background-color: lightcoral;
}

progress {
  background-color: #333;
  border-radius: 10px;
}

progress::-moz-progress-bar {
  background-color: lightseagreen;
  border-radius: 10px;
}

#names-container {
  display: flex;
}

#names-container input {
  margin: 0.5em;
}

#name-list {
  border: 1px solid black;
  height: 20vh;
  width: 20vw;
  padding: 1em;
  overflow: scroll;
  list-style: none;
}

#names-form {
  display: flex;
  flex-direction: column;
  margin: 0.5em;
}

#crud-buttons {
  margin-top: 1em;
}

#crud-buttons button {
  margin: 0 0.5em;
}

.name-highlight {
  background-color: #666;
  color: white;
}
